:root {
    --orangecolor: linear-gradient(#f53d2d, #f63);
    --white: white;
}

.content {
    background-color: #f5f5f5;
    position: absolute;
    top: 119px;
    width: 100%;
}

/* BANNER + MENU */

.full-banner {
    background-color: var(--white);
    border-bottom: 1px solid rgb(192, 191, 191, 0.5);
    width: 100%;
    height: 353px;
    padding-top: 30px;
}

.banners {
    margin: auto;
    justify-content: center;
    width: 1200px;
    height: 235px;
    display: flex;
}

.left-banners {
    width: 66.6%;
    height: 100%;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.banner-img {
    width: 100%;
    height: 100%;
    background: url(./img/banner/w1.jpg);
    background-size: cover;
}

.left-banners-arrow {
    width: 35px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgba(0,0,0,.18);
    position: absolute;
    top: 88px;
    color: var(--white);
    font-size: 21px;
    display: none;
    opacity: 0.8;
}

@keyframes slidelefttoright {
    from {
        transform: translateX(calc(100%));
    }
    to {
        transform: translateX(0);
    }
}

.arrow-left {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.arrow-right {
    right: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.display-arrows-banner {
    display: block;
}

.arrow-active {
    background-color: rgba(0,0,0,.5);
}

.banner-dots {
    position: absolute;
    bottom: 16px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    border: 1px solid hsla(0,0%,53.7%,.4);
    background-color: hsla(0,0%,100%,.4);
}

.dot + .dot {
    margin-left: 8px;
}

.dot-active {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}

.right-banners {
    margin-left: 5px;
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-banner__top {
    background-color: #f63;
    height: 49%;
    background: url(./img/banner/w2.jpg);
    border-radius: 2px;
    background-size: cover;
    cursor: pointer;
}

.right-banner__bottom {
    margin-top: 5px;
    height: 49%;
    background: url(./img/banner/w3.jpg);
    border-radius: 2px;
    background-size: cover;
    cursor: pointer;
}

.menu {
    margin: 10px auto 0px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    text-align: center;
    width: 100px;
    height: 100%;
    font-size: 13px;
    cursor: pointer;
}

.menu-item:hover {
    margin-top: -1px;
}

.menu-item img {
    margin: 18px 27.5px 5px;
}

.menu-item p {
    margin-bottom: 8px;
    line-height: 1.1;
}


/* MAIN CONTENT */
.main-content {
    width: 100%;
    height: 10000px;
    position: relative;
}

.main-middle-content {
    width: 1200px;
    height: 10000px;
    margin: auto;
}

    /* first-block */
.first-block {
    margin-top: 19px;
}

.first-block__title {
    height: 60px;
}

.first-block__content {
    height: 312px;
    background-color: #ee4d2d;
    display: flex;
    justify-content: space-evenly;
}

.first-block__content-left,
.first-block__content-right {
    width: 48.2%;
    height: 297px;
    display: flex;
    flex-direction: column;
}

.fbcl-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 16px;
    color: var(--white);
}

.fbcr-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 15px;
    color: var(--white);
}

.fbcl-title p,
.fbcr-title p {
    font-size: 12px;
    cursor: pointer;
}

.fbcl-products,
.fbcr-products {
    display: flex;
    justify-content: space-between;
    height: 237px;
    background-color: var(--white);
    cursor: pointer;
}

.fbcl-product-item,
.fbcr-product-item {
    width: 33%;
    text-align: center;
    padding: 15px;
    border-left: #ee4d2d solid .3px;
}

.fbcl-product-item img,
.fbcr-product-item img {
    width: 162px;
    height: 162px;
}

.fbcl-product-item p,
.fbcr-product-item p {
    font-size: 18px;
    padding-top: 13px;
    color: #ee4d2d;
}

    /* second-block */
.second-block {
    margin-top: 19px;
    height: 362.88px;
    /* background-color: aquamarine; */
}

.second-block__title {
    background-color: white;
    height: 61px;
    padding: 0 20px;
    line-height: 61px;
    color: rgba(0,0,0,.54)
}

.second-block__content {
    width: 100%;
    overflow: hidden;
}

.categories {
    width: 2000px;
    height: 301.88px;
    display: flex;
    border: 1px solid rgba(0,0,0,.05);
    border-left: none;
}

.category-item {
    width: 119px;
    background-color: var(--white);
    border-left: 1px solid rgba(0,0,0,.05);
    border-right: none;
    animation: slideCategories 1s ease forwards;
}

.category-item:first-child {
    border-left: none;
}

.category-item:last-child {
    border-right: 1px solid rgba(0,0,0,.05);
}

@keyframes slideCategories {
    to {
        transform: translateX(-480px);
    }
}

.category-item1 {
    height: calc(50%);
    border-bottom: 1px solid rgba(0,0,0,.05);
    text-align: center;
    padding: 0px 6px;
}

.category-item1 img,
.category-item2 img {
    margin-top: 12px;
    width: 85px;
    height: 83.5px;
}

.category-item1 p,
.category-item2 p {
    line-height: 1.4;
    margin-top: 1.5px;
    font-size: 14px;
}

.category-item2 {
    height: calc(50% + 1px);
    text-align: center;
}


