:root {
    --orangecolor: linear-gradient(#f53d2d, #f63);
    --white: white;
}

.content {
    background-color: #f5f5f5;
    position: absolute;
    top: 119px;
    width: 100%;
}

/* BANNER + MENU */
.full-banner-upper {
    display: block;
    background-color: var(--white);
    width: 100%;
    height: 30px;
}

.full-banner {
    background-color: var(--white);
    border-bottom: 1px solid rgb(192, 191, 191, 0.5);
    width: 100%;
    height: 353px;
}

.banners {
    margin: auto;
    justify-content: center;
    width: 1200px;
    height: 235px;
    display: flex;
}

.left-banners {
    width: 66.6%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.banner-imgs {
    width: 10000px;
    height: 100%;
    display: flex;    
    transition: 500ms ease;
}

.banner-img {

}

.banner-img img {
    width: 796.67px;
    height: 100%;
    border-radius: 2px;
}

.left-banners-arrow {
    width: 35px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgba(0,0,0,.18);
    position: absolute;
    top: 88px;
    color: var(--white);
    font-size: 21px;
    display: none;
    opacity: 0.8;
}

.left-banners-arrow.arrow-left {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.left-banners-arrow.arrow-right {
    right: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.display-arrows-banner {
    display: block;
}

.arrow-active {
    background-color: rgba(0,0,0,.5);
}

.banner-dots {
    position: absolute;
    bottom: 16px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    border: 1px solid hsla(0,0%,53.7%,.4);
    background-color: hsla(0,0%,100%,.4);
}

.dot + .dot {
    margin-left: 8px;
}

.dot-active {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}

.right-banners {
    margin-left: 5px;
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-banner__top {
    background-color: #f63;
    height: 49%;
    background: url(./img/banner/w2.jpg);
    border-radius: 2px;
    background-size: cover;
    cursor: pointer;
}

.right-banner__bottom {
    margin-top: 5px;
    height: 49%;
    background: url(./img/banner/w3.jpg);
    border-radius: 2px;
    background-size: cover;
    cursor: pointer;
}

.menu {
    margin: 10px auto 0px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    text-align: center;
    width: 100px;
    height: 100%;
    font-size: 13px;
    cursor: pointer;
}

.menu-item:hover {
    margin-top: -1px;
}

.menu-item img {
    margin: 18px 27.5px 5px;
}

.menu-item p {
    margin-bottom: 8px;
    line-height: 1.1;
}


/* MAIN CONTENT */
.main-content {
    width: 100%;
    height: 10000px;
    position: relative;
}

.main-middle-content {
    width: 1200px;
    height: 10000px;
    margin: auto;
}

    /* first-block */
.first-block {
    display: none;
    margin-top: 20px;
}

.first-block__title {
    height: 60px;
}

.first-block__content {
    height: 312px;
    background-color: #ee4d2d;
    display: flex;
    justify-content: space-evenly;
}

.first-block__content-left,
.first-block__content-right {
    width: 48.2%;
    height: 297px;
    display: flex;
    flex-direction: column;
}

.fbcl-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 16px;
    color: var(--white);
}

.fbcr-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 15px;
    color: var(--white);
}

.fbcl-title p,
.fbcr-title p {
    font-size: 12px;
    cursor: pointer;
}

.fbcl-products,
.fbcr-products {
    display: flex;
    justify-content: space-between;
    height: 237px;
    background-color: var(--white);
    cursor: pointer;
}

.fbcl-product-item,
.fbcr-product-item {
    width: 33%;
    text-align: center;
    padding: 15px;
    border-left: #ee4d2d solid .3px;
}

.fbcl-product-item img,
.fbcr-product-item img {
    width: 162px;
    height: 162px;
}

.fbcl-product-item p,
.fbcr-product-item p {
    font-size: 18px;
    padding-top: 13px;
    color: #ee4d2d;
}

    /* second-block */
.second-block {
    margin-top: 20px;
    height: 361.88px;
    position: relative;
}

.second-block__title {
    background-color: white;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    color: rgba(0,0,0,.54)
}

.second-block__content {
    background-color: var(--white);
    width: 100%;
    overflow: hidden;
}

.categories {
    width: 2000px;
    height: 302.88px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.05);
    /* animation: slideCategories 1s ease forwards; */
}

.category-item {
    width: 120px;
}

@keyframes slideCategoriesToRight {
    to {
        transform: translateX(-479.5px);
    }
}

@keyframes slideCategoriesToLeft {
    from {
        transform: translateX(-479.5px);
    }

    to {
        transform: translateX(0);
    }
}

.category-item1 {
    border-top: 1px solid rgba(0,0,0,.05);
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: calc(50% + 1px);
    text-align: center;
    padding: 0px 6px;
}

.category-item2 {
    border-right: 1px solid rgba(0,0,0,.05);
    height: calc(50%);
    text-align: center;
    padding: 0px 6px;
}

.category-item1:hover,
.category-item2:hover {
    cursor: pointer;
    box-shadow: 0 0 0.8125rem 0 rgba(0,0,0,.05);
    z-index: 1;
}

.category-item1 img,
.category-item2 img {
    margin-top: 12px;
    width: 85px;
    height: 83.5px;
}

.category-item1 p,
.category-item2 p {
    opacity: 0.8;
    line-height: 1.4;
    margin-top: 1.5px;
    font-size: 14px;
}

.second-block__arrow-right {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: -12px;
    cursor: pointer;
    display: none;
}

.second-block__arrow-left {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: -12px;
    cursor: pointer;
    display: none;
}

.second-block__arrow-right i,
.second-block__arrow-left i {
    opacity: 0.5;
}

.second-block__content:hover + .second-block__arrow-right,
.second-block__arrow-right:hover,
.second-block__content:hover ~ .second-block__arrow-left,
.second-block__arrow-left:hover {
    transform: scale(2);
    transition: ease 200ms;
}

.second-block__arrow-active {
    display: block;
}
    /* third-block */
.third-block {
    margin-top: 20px;
    height: 308px;
    position: relative;
    background-color: var(--white);
}

.third-block__title {
    padding: 16px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.third-block__title-countdown {
    position: relative;
}

.third-block__title-countdown img {
    width: 130px;
    height: 25px;
}

.third-block__title-countdown .countdown-hr {
    font-size: 14px;
    background-color: black;
    color: rgb(226, 220, 220);
    padding: 0 3px 1px;
    border-radius: 2px;
    position: absolute;
    top: 3px;
    left: 147.5px;
}

.third-block__title-countdown .countdown-min {
    font-size: 14px;
    background-color: black;
    color: rgb(226, 220, 220);
    padding: 0 3px 1px;
    border-radius: 2px;
    position: absolute;
    top: 3px;
    left: calc(147.5px + 28px);
    
}

.third-block__title-countdown .countdown-sec {
    font-size: 14px;
    background-color: black;
    color: rgb(226, 220, 220);
    padding: 0 3px 1px;
    border-radius: 2px;
    position: absolute;
    top: 3px;
    left: calc(147.5px + 28px + 28px)
    
}

.third-block__title p {
    color: #ee4d2d;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 1px;
    padding: 5px 7px;
    font-size: 14px;
}

.third-block__content {
    width: 100%;
    overflow: hidden;
}

.third-block-products {
    display: flex;
    transition: 500ms ease;
    position: relative;
}

@keyframes slideBlock3ToRight {
    to {
        transform: translateX(-1000px);
    }
}

@keyframes slideBlock3ToLeft {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0);
    }
}

.third-block-products-item {
    padding: 0 15px;
    text-align: center;
}

.third-block-mall {
    position: relative;
}

.mall-img {
    width: 28px;
    position: absolute;
    top: 10.5px;
    left: -3px;
    background-color: #d0011b;
    padding: 4px 4px 3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.triangle-mall {
    position: absolute;
    top: 25px;
    left: -3px;
    background: linear-gradient(to top right, #fff 0%, #fff 50%, #7d0110 50%, #7d0110 100%);
    padding: 1.6px 1.5px;
}

.third-block-discount {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 12px;
    background-color: #f0cf35;
    opacity: 0.9;
    padding: 4px 2.5px 3px;
}

.third-block-discount .third-block-discount-percent {
    color: #ee4d2d;
}

.third-block-discount .third-block-discount-giam {
    color: var(--white);
}

.third-block-discount-tail {
    position: absolute;
    top: 35px;
    right: 0px;opacity: 0.9;
    border-style: solid;  
    border-color: transparent rgba(255,212,36,.9);
    border-width: 0 18px 4px;
}

.third-block-img{
    width: 170px;
    height: 170px;
    background-size: cover;
    cursor: pointer;
}

.third-block-price {
    margin-bottom: 8.5px;
    display: block;
    padding-top: 14px;
    font-size: 18px;
    color: #ee4d2d;
    cursor: pointer;
    position: relative;
}

.third-block-sold-quantity {
    color: white;
    font-weight: 600;
    margin: auto;
    padding: 1.3px;
    width: 150px;
    font-size: 12px;
    border-radius: 40px;
    cursor: pointer;
}

.chayhang-img {
    position: absolute;
    width: 18px;
    top: 38px;
    left: 13.5px;
}

.third-block__arrow-right {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 172px;
    right: -12px;
    cursor: pointer;
    display: none;
}

.third-block__arrow-left {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 172px;
    left: -12px;
    cursor: pointer;
    display: none;
}

.third-block__arrow-right i,
.third-block__arrow-left i {
    opacity: 0.5;
}

.third-block__content:hover + .third-block__arrow-right,
.third-block__arrow-right:hover,
.third-block__content:hover ~ .third-block__arrow-left,
.third-block__arrow-left:hover {
    transform: scale(2);
    transition: ease 200ms;
}

.third-block__arrow-active {
    display: block;
}

    /* third half block */
.thirdhalf-block {
    margin-top: 20px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.thirdhalf-block-banner {
    position: absolute;
}

.thirdhalf-block__option1,
.thirdhalf-block__option2,
.thirdhalf-block__option3 {
    width: 400px;
    height: 110px;
    z-index: 1;
}

    /* fourth block */
.fourth-block {
    background-color: var(--white);
    margin-top: 20px;
    width: 100%;
    height: calc(536.8px);
}

.fourth-block__title {
    background-color: var(--white);
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.fourth-block__title-left {
    display: flex;
    align-items: center;
}

.fourth-block__title-left p {
    font-size: 17px;
    color: #d0011b;
    line-height: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
}

.fourth-block__title-left p::after {
    content: '';
    border-left: 0.1px solid #d8d8d8;
    margin-left: 15px;
}

.fourth-block__title-left-des {
    margin-left: 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.fourth-block__title-left img {
    width: 17px;
    margin-right: 5px;
    line-height: 1.2;
}

.fourth-block__title-right {
    cursor: pointer;
    padding: 5px 7px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.fourth-block__title-right p {
    color: #d0011b;
}

.fourth-block__title-right i {
    margin-left: 8px;
    border-radius: 50%;
    color: var(--white);
    padding: 2px 4.65px;
    background-color: #d0011b;
}

.fourth-block__content {
    width: 1200px;
    height: calc(100% - 60px);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fourth-block__content-left {
    padding-top: 10px;
    width: 390px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.fourth-block__content-left-banners {
    display: flex;
    height: 100%;
    /* transform: translateX(-390px); */
    transition: ease 500ms;
}

.fourth-block__content-left-img-div {
    width: 100%;
    height: 100%;
}

.fourth-block__content-left-img {
    width: 390px;
    height: 100%;
    background-size: cover;
}

.fourth-block-arrow {
    width: 35px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgba(0,0,0,.18);
    position: absolute;
    top: calc(466.8px / 2 - 30px);
    color: var(--white);
    font-size: 21px;
    display: none;
    opacity: 0.8;
}

.fourth-block-arrow.arrow-left {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.fourth-block-arrow.arrow-right {
    right: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.fourth-block__content-left:hover .fourth-block-arrow.arrow-left,
.fourth-block__content-left:hover .fourth-block-arrow.arrow-right {
    display: block;
}

.fourth-block-arrow.arrow-left:hover,
.fourth-block-arrow.arrow-right:hover {
    background-color: rgba(0,0,0,.5);
}

.fourth-block-dots {
    position: absolute;
    bottom: 16px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}

.fb-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    border: 1px solid hsla(0,0%,53.7%,.4);
    background-color: hsla(0,0%,100%,.4);
}

.fb-dot + .fb-dot {
    margin-left: 8px;
}

.fb-dot-active {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}

.fourth-block__content-right {
    width: calc(100% - 390px);
    position: relative;
    overflow: hidden;
}

.fourth-block__content-right-main {
    display: flex;
    /* transform: translateX(-800px); */
    transition: ease 500ms;
}

.fourth-block__content-right-item{
    width: 2000px;
    display: flex;
    flex-direction: column;
    padding-bottom: 4.8px;
}

.fourth-block-item1,
.fourth-block-item2 {
    width: 200px;
    height: 50%;
    padding: 10px;
    text-align: center;
}

.fourth-block-item1-inside,
.fourth-block-item2-inside {
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
}

.fourth-block-item1-inside img,
.fourth-block-item2-inside img {
    width: 100%;
}

.fourth-block-item1-inside p,
.fourth-block-item2-inside p {
    font-size: 18px;
    margin: auto;
    margin-top: -38px;
    line-height: 27px;
    color: #d0011b;
}

.last-item-fourthblock {
    width: 200px;
    cursor: pointer;
    font-size: 16px;
    color: #d0011b;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-item-fourthblock i {
    margin-left: 8px;
    border-radius: 50%;
    color: var(--white);
    padding: 2px 4.65px;
    background-color: #d0011b;
}

.fourth-block__arrow-right {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 212px;
    right: -12px;
    cursor: pointer;
    display: none;
}

.fourth-block__arrow-left {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 212px;
    left: 388px;
    cursor: pointer;
    display: none;
}

.fourth-block__arrow-right i,
.fourth-block__arrow-left i {
    opacity: 0.5;
}

.fourth-block__content-right:hover +.fourth-block__arrow-right,
.fourth-block__arrow-right:hover,
.fourth-block__content-right:hover ~.fourth-block__arrow-left,
.fourth-block__arrow-left:hover {
    transform: scale(2);
    transition: ease 200ms;
}

.fourth-block__arrow-active {
    display: block;
}

    /* fifth-block */
.fifth-block {
    margin-top: 21px;
    height: 351px;
    position: relative;
    background-color: var(--white);
}

.fifth-block__title {
    padding: 16px 20px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.fifth-block__title .title1 {
    color: #ee4d2d;
    cursor: pointer;
    margin-top: 1px;
    font-size: 16px;
}

.fifth-block__title .title2 {
    color: #ee4d2d;
    cursor: pointer;
    margin-top: 1px;
    margin-right: 1px;
    padding: 5px 7px;
    font-size: 14px;
}

.fifth-block__content {
    width: 100%;
    height: 290px;
    overflow: hidden;
    cursor: pointer;
}

.fifth-block-products {
    width: 20000px;
    height: 100%;
    display: flex;
    transition: 500ms ease;
    /* transform: translateX(-1000px); */
}

.fifth-block-product {
    width: 200px;
    padding: 20px 10px;
}

.fifth-block-product-item {
    height: 180px;
    margin: auto;
    position: relative;
}

.fifth-block-product-item-img {
    width: 100%;
    height: 100%;
}

.fifth-block-top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 30px;
}

.fifth-block-product-item-quantitysold {
    font-size: 14px;
    position: absolute;
    padding: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fffbee;    
    background-color: rgba(0,0,0,.26);
}

.fifth-block-product-des {
    font-size: 18px;
    color: #555555;
    margin-top: 20px;
    line-height: 1.5625rem;
    /* khi chuỗi quá dài muốn cắt bớt thành ba chấm */
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;    
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.fifth-block__arrow-right {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 193px;
    right: -12px;
    cursor: pointer;
    display: none;
}

.fifth-block__arrow-left {
    background-color: var(--white);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    padding: 3.5px 7.5px;
    border-radius: 50%;
    position: absolute;
    top: 193px;
    left: -12px;
    cursor: pointer;
    display: none;
}

.fifth-block__arrow-right i,
.fifth-block__arrow-left i {
    opacity: 0.5;
}

.fifth-block__content:hover + .fifth-block__arrow-right,
.fifth-block__arrow-right:hover,
.fifth-block__content:hover ~ .fifth-block__arrow-left,
.fifth-block__arrow-left:hover {
    transform: scale(2);
    transition: ease 200ms;
}

.fifth-block__arrow-active {
    display: block;
}