*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orangecolor: linear-gradient(#f53d2d, #f63);
    --white: white;
}

.pd4d5px {
    padding: 4.5px;
}

body {
    height: 10000px;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑,
    "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro",
    "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI",
    "Microsoft JhengHei", serif;
}

.header {
    width: 100%;
    height: 119px;
    background-image: var(--orangecolor);
    position: fixed;
    z-index: 1;
}

.middle-header {
    width: 1200px;
    margin: 0px auto;
}

.navbar {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
}

.nav-flex {
    display: flex;
    color: var(--white);
    line-height: 1.2;
}

.nav-flex__seller:hover,
.nav-flex__sellerbecome:hover,
.nav-flex__download:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fa-facebook-square,
.fa-instagram-square {
    cursor: pointer;
}

.nav-flex__between {
    margin: 4px;
    width: 1px;
    height: 15.5px;
    background-color: var(--white);
    opacity: 0.3;
}

.nav-flex__connect i {
    margin-left: 6px;
}

.navbar__space {

}

.navbar__links {
    display: flex;
    color: var(--white);
    line-height: 1.2;
}

.nav-links__noti {
    
}

.nav-links__support {
    margin-right: 5.5px;
}

.nav-links__language {
    margin: 0 16px 0 9px;
}

.link-icon {
    padding: 0 2px;
}

.login-form,
.login-user {
    display: none;
}

.login--active {
    display: flex;
}

.login-form__register {
    margin-right: 1.5px;
}

.login-form__login {
    margin-left: 1.5px;
    margin-right: 5.5px;
}

.login-user__img{
    background-image: url(./img/298560886_1215433555969531_3908390886081172879_n.jpg);
    background-size: cover;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
}

.nav-links__noti:hover,
.nav-links__support:hover,
.nav-links__language:hover,
.login-form__register:hover,
.login-form__login:hover {
    opacity: 0.8;
    cursor: pointer;
}

.wrapper {
    padding: 16px 0 10px 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
}

.wrapper-logo {
    margin: -1.5px 28px 0 8px;
}

.wrapper-logo__img {
    cursor: pointer;
    background-image: url(./img/logo-wrapper.png);
    background-size: cover;
    width: 146.15px;
    height: 46.73px;
}

.search {
    
}

.search-input {
    padding: 3px;
    border-radius: 2px;
    background-color: var(--white);
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.09);
    display: flex;
}

.search-input form {
    width: 774px;
    height: 34px;
    border: none;
}

.search-input input {
    padding-left: 10px;
    font-size: 14px;
    width: 760px;
    height: 34px;
    border: none;
}

.search-input input:focus-visible {

}

.search-input__btn {
    text-align: center;
    width: 60px;
    border-radius: 2px;
    background-color: #fb5533;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
}

.search-input__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.search-input i {
    margin-top: 9px;
    color: var(--white)
}

.box-search-result {
    padding-top: 5px;
    width: 747px;
    position: fixed;
    z-index: 99999;
}

.search-result {
    background-color: var(--white);
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    border-radius: 2px;
    padding-left: 10px;
    font-size: 14px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.search-result-active {
    display: flex;
}

.result-text i{
    color: #f4907c;
    margin-right: 5px;
}

.result-voucher {
    margin-right: 15px;
    color: #f4907c;
    font-size: 20px;
}

/* .search-active {
    display: block;
} */

.search-suggest {
    color: var(--white);
    font-size: 12px;
    margin-top: 7px;
}

.search-suggest__item {
    cursor: pointer;
    display: inline-block;
}

.search-suggest__item + .search-suggest__item {
    margin-left: 16px;
}

.wrapper__shopcart {
    color: var(--white);
}

.wrapper__shopcart i {
    cursor: pointer;
    margin-right: 67px;
    margin-left: 45px;
    margin-top: 15px;
    padding: 1.5px 0px;
    font-size: 23px;
}

/* POP-UP */

.popup-download {
    display: none;
    position: fixed;
    z-index: 100;
    top: 26px;
    left: 379px;
    padding-top: 12px;
}

.popup-download__content {
    padding: 13px 13.5px 7px;
    background-color: var(--white);
    border-radius: 3px;
}

.popup-noti {
    display: none;
    position: fixed;
    z-index: 100;
    width: 400px;
    top: 33px;
    right: 430px;
}

.popup-arrow-noti {
    position: fixed;
    color: var(--white);
    z-index: 101;
    font-size: 34px;
    top: 14px;
    left: 870px;
}

.popup-noti:hover {
    cursor: pointer;
}

.noti-main {
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    background-color: var(--white);
    border-radius: 3px;
}

.noti-main-content {
    height: 306px;
    padding: 4px 5px 0px;
}

.noti-main-user {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.noti-main-user__register,
.noti-main-user__login {
    width: 50%;
    padding: 11.7px 0;
    text-align: center;
}

.noti-main-user__register:hover,
.noti-main-user__login:hover {
    background-color: #e8e8e8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #EE4D2D;
}

.popup-language {
    display: none;
    position: fixed;
    z-index: 100;
    width: 200px;
    height: 80px;
    top: 33px;
    right: 232px;
    background-color: var(--white);
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    border-radius: 3px;
    cursor: pointer;
}

.popup-arrow-language {
    position: fixed;
    color: var(--white);
    z-index: 101;
    font-size: 34px;
    top: 14px;
    right: 277px;
}

.popup-language p {
    font-size: 14px;
    padding: 2px;
}

.langue-vn,
.langue-eng {
    padding: 10px;
}

.langue-vn:hover,
.langue-eng:hover {
    color: #EE4D2D;
}

.popup-cart {
    cursor: pointer;
    width: 400px;
    height: 260.59px;
    position: fixed;
    z-index: 101;
    font-size: 14px;
    top: 101px;
    right: 132px;
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    background-color: var(--white);
    border-radius: 2px;
    display: none;
}

.popup-arrow-cart {
    position: fixed;
    color: var(--white);
    z-index: 101;
    font-size: 34px;
    top: 83px;
    right: 141px;
}

.cart-main {
    text-align: center;
    padding: 60px 0;
}

.cart-main p {
    margin-top: 20px;
}

.popup-active {
    display: block;
}

