*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orangecolor: linear-gradient(#f53d2d, #f63);
    --white: white;
}

.pd4d5px {
    padding: 4.5px;
}

body {
    /* height: 10000px; */
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑,
    "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro",
    "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI",
    "Microsoft JhengHei", serif;
}

.header {
    width: 100%;
    height: 119px;
    background-image: var(--orangecolor);
    position: fixed;
    z-index: 5;
}

.middle-header {
    max-width: 1200px;
    margin: auto;
}

.navbar {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    line-height: 1.2;
}

.nav-flex__download {
    position: relative;
}

.popup-download {
    display: none;
    position: absolute;
    z-index: 100;
    top: 21px;
    left: -2px;
    padding-top: 12px;
}

.popup-download__content {
    padding: 13px 13.5px 7px;
    background-color: var(--white);
    border-radius: 3px;
}

.nav-flex__download:hover .popup-download,
.popup-download:hover {
    display: block;
}

.nav-flex__seller p:hover,
.nav-flex__sellerbecome p:hover,
.nav-flex__download p:hover{
    opacity: 0.8;
    cursor: pointer;
}

.fa-facebook-square,
.fa-instagram-square {
    cursor: pointer;
}

.nav-flex__between {
    margin: 4px;
    width: 1px;
    height: 15.5px;
    background-color: var(--white);
    opacity: 0.3;
}

.nav-flex__connect i {
    margin-left: 6px;
}

.navbar__space {
    width: 0px;
}

.navbar__links {
    display: flex;
    color: var(--white);
    line-height: 1.2;
}

.nav-links__noti {
    position: relative;
}

.popup-noti {
    display: none;
    position: absolute;
    z-index: 100;
    width: 400px;
    top: 28px;
    right: 4px;
    transform-origin: 90% 0%;;
}

.popup-arrow-noti {
    position: absolute;
    color: var(--white);
    z-index: 101;
    font-size: 34px;
    top: -19px;
    right: 31px;
}

.popup-noti:hover {
    cursor: pointer;
}

.noti-main {
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    background-color: var(--white);
    border-radius: 3px;
}

.noti-main-content {
    height: 306px;
    padding: 4px 5px 0px;
}

.noti-main-user {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.noti-main-user__register,
.noti-main-user__login {
    width: 50%;
    padding: 11.7px 0;
    text-align: center;
    color: #000000cc;
}

.noti-main-user__register:hover,
.noti-main-user__login:hover {
    background-color: #e8e8e8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #EE4D2D;
}

.nav-links__support {
    margin-right: 5.5px;
}

.nav-links__language {
    margin: 0 16px 0 9px;
    position: relative;
}

.popup-language {
    display: none;
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 80px;
    top: 28px;
    right: -10px;
    background-color: var(--white);
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    border-radius: 3px;
    cursor: pointer;
    color: black;
    transform-origin: 75% 0%;
}

.popup-arrow-language {
    position: absolute;
    color: var(--white);
    z-index: 101;
    font-size: 34px;
    top: -19px;
    right: 45px;
}

.popup-language p {
    font-size: 14px;
    padding: 2px;
}

.langue-vn,
.langue-eng {
    padding: 10px;
}

.langue-vn:hover,
.langue-eng:hover {
    color: #EE4D2D;
}


.link-icon {
    padding: 0 2px;
}

.login-form,
.login-user {
    display: none;
}

.login--active {
    display: flex;
}

.login-form__register {
    margin-right: 1.5px;
}

.login-form__login {
    margin-left: 1.5px;
    margin-right: 5.5px;
}

.login-user__img{
    background-image: url(./img/298560886_1215433555969531_3908390886081172879_n.jpg);
    background-size: cover;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
}

.nav-links__noti p:hover,
.nav-links__support:hover,
.nav-links__language p:hover,
.login-form__register:hover,
.login-form__login:hover {
    opacity: 0.8;
    cursor: pointer;
}

.wrapper {
    padding: 16px 0 10px 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
}

.wrapper-logo {
    margin: -1.5px 40px 0 0px;
}

.wrapper-logo__img {
    cursor: pointer;
    background-image: url(./img/logo-wrapper.png);
    background-size: cover;
    width: 146.15px;
    height: 46.73px;
}

.search {
    width: 840px;
    min-width: 300px;
    margin: auto;
    position: relative;
}

.search-input {
    position: relative;
    padding: 3px;
    border-radius: 2px;
    background-color: var(--white);
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.09);
    display: flex;
}

.search-input__bar {
    width: 92.5%;
    min-width: 150px;
}

.search-input form {
    height: 34px;
    border: none;
}

.search-input input {
    padding-left: 10px;
    font-size: 14px;
    width: 100%;
    height: 34px;
    border: none;
}

.search-input__btn {
    position: absolute;
    text-align: center;
    right: 3px;
    width: 60px;
    height: 34px;
    border-radius: 2px;
    background-color: #fb5533;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
}

.search-input__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.search-input i {
    margin-top: 9px;
    color: var(--white)
}

.box-search-result {
    padding-top: 5px;
    width: 90%;
    position: absolute;
}

.search-result {    
    min-width: 220px;
    background-color: var(--white);
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    border-radius: 2px;
    padding-left: 10px;
    font-size: 14px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.search-result-active {
    display: flex;
}

.result-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 20px;

}

.result-text i{
    color: #f4907c;
    margin-right: 5px;
}

.result-voucher {
    margin-right: 15px;
    color: #f4907c;
    font-size: 20px;
}

.search-suggest {
    width: 100%;
    height: 20px;
    color: var(--white);
    font-size: 12px;
    margin-top: 6px;
    overflow-y: hidden;
}

.search-suggest__item {
    display: inline-block;
    width: 50px;
    cursor: pointer;
    margin-bottom: 5px;
}

.search-suggest__item + .search-suggest__item {
    margin-left: 16px;
}

.wrapper__shopcart {
    color: var(--white);
    position: relative;
    margin-right: 67px;
    margin-left: 45px;
    margin-top: 15px;
}

#cart-icon {
    cursor: pointer;
    padding: 1.5px 0px 8px;
    font-size: 23px;
}

.popup-cart {
    display: none;
    cursor: pointer;
    width: 400px;
    height: 260.59px;
    position: absolute;
    z-index: 101;
    font-size: 14px;
    top: 36px;
    right: -8px;
    box-shadow: 0 0.125rem 10px rgba(0,0,0,.3);
    background-color: var(--white);
    border-radius: 2px;
    transform-origin: 92% 0%;
}

.popup-arrow-cart {
    position: absolute;
    color: var(--white);
    z-index: 101;
    font-size: 34px;
    top: -20px;
    right: 9px;
}

.cart-main {
    text-align: center;
    padding: 60px 0;
}

.cart-main p {
    margin-top: 20px;
    color: #000000cc
}
